<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.282922 0.827388 0.527907" rpy="1.57583 0.0816031 -3.09688" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.282922 0.827388 0.527907   -0.0129292 0.708759 -0.703917 0.0446629 panda_link0 rgb_camera_link" />
</launch>
<!-- 0.373, 0.508, 0.804 -->