<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.203524 0.570133 0.58296" rpy="1.67828 0.924211 3.09177" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.203524 0.570133 0.58296   -0.31436 0.658401 -0.606108 0.316732 panda_link0 rgb_camera_link" />
</launch>

<!-- 0.353, 0.537, 0.542 -->