<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.331561 0.893115 0.492202" rpy="3.12106 -3.13286 3.04683" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.331561 0.893115 0.492202   -0.0100464 -0.00484805 -0.0473135 0.998818 panda_link0 camera_base" />
</launch>
